<div class="container"><%= link_to "Regresar", vecinos_path, class: "btn btn-primary glyphicon glyphicon-chevron-left" %></div>
<br>
<div class="container" class="form-group">
  <%= form_with model: @vecino, local: true  do |form| %>
  <% if @vecino.errors.any? %>
  <div class="text-danger" id="error_explanation">
	<ul class="list-group">
	  <% @vecino.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
  </div>
  <% end %>

  <p>
	<%= form.label "Nombre Completo" %><br>
	<%= form.text_field :name, class: "form-control" %>
  </p>

  <p>
	<%= form.label "Dirección" %><br>
	<%= form.text_area :address, class: "form-control"%>
  </p>

  <p>
	<%= form.label "Telefono de casa" %><br>
	<%= form.text_field :phone, class: "form-control"%>
  </p>
  <p>
	<%= form.submit class: "btn btn-primary"%>
  </p>
  <% end %>
</div>
