<h1 class="container">La colonia</h1>
<br>
<div class="container" style="text-align:left;">
	<%= link_to ' Agregar', new_vecino_path, class: "btn btn-sm btn-default glyphicon glyphicon-plus" %>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
	  <tr class="bg-info">
		<th></th>
		<th>Nombre</th>
	  </tr>

	<% @vecinos.order(:id).each do |v| %>
	<tr>
	  <td style="width:140px; text-align: center">
		<%= link_to  '' ,vecino_path(v), class: "btn btn-sm btn-default glyphicon glyphicon-eye-open text-primary" %>
		<%= link_to '', edit_vecino_path(v), class: "btn btn-sm btn-default glyphicon glyphicon-edit" %>
		<%= link_to '', vecino_path(v), class: "btn btn-sm btn-default glyphicon glyphicon-trash" ,
												method: :delete, data: { confirm: "Esta seguro que quiere borrar a #{v.name.split()[0]} de su lista?" } %>
	  </td>
	  <td><%= v.name %></td>
	</tr>
	<% end %>
  </table>
</div>
<hr>
