
<h1>La colonia</h1>

<table>
  <tr>
	<th>Nombre</th>
  </tr>

  <% @vecinos.order(:id).each do |v| %>
  <tr>
	<td><%= v.name %></td>
	<td><%= link_to 'Veer más', vecino_path(v) %></td>
	<td><%= link_to 'Actualizar', edit_vecino_path(v) %></td>
	<td><%= link_to 'Eliminar', vecino_path(v),
			method: :delete,
			              data: { confirm: "Esta seguro que quiere borrar a #{v.name.split()[0]} de su lista?" } %></td>
  </tr>
  <% end %>
</table>

<div>
  <%= link_to 'Agregar nuevo vecino', new_vecino_path %>
</div>

