<div class="container"><%= link_to "Regresar", vecinos_path, class: "btn btn-primary glyphicon glyphicon-chevron-left" %></div><br>
<div class="container jumbotron">
  <p>
	<strong>Nombre:</strong>
	<%= @vecino.name %>
	<strong>No. de telefono:</strong>
	<%= @vecino.phone %><br>
	<strong>Direccion:</strong>
	<%= "No. #{@vecino.house_number}, Calle #{@vecino.street}, C.P. #{@vecino.zip_code}"%>
  </p>
  
  <div class="row">
	<div class="col-sm-9">
	  <div class="embed-responsive embed-responsive-16by9" style="width:50%;">
		<iframe class="embed-responsive-item" frameborder="0" style="border:0;"
				src="<%= @map %>"
				allowfullscreen>
		</iframe>
	  </div>
	</div>
  </div>
</div>
