<!DOCTYPE html>
<html>
  <head>
    <title>Vecino</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <div>
	<%= link_to '', root_path, class: "btn btn-primary glyphicon glyphicon-home" %>
	<span>
	  <!-- <% if user_signed_in? %> -->
	  <!-- <% "Usuario: #{current_user.name.split[0]}" %> -->
	  <!-- <% end %> -->
	</span>
  </div>
  <body>
	<div class="container">
	  <p class="notice"><%= notice  %></p>
	  <p class="alert"><%= alert %></p>
	</div>
    <%= yield %>
  </body>
</html>
