<div class="container">
  <h2>Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Nombre completo" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Email" %><br />
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :colonia %><br />
	<%= f.text_field :colonia , class: "autocomplete" %>
  </div>
  
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit "Crear cuenta", class: "btn btn-primary" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<script>
  var mySource = <%=raw @colonias%>
  
  $(function() {
  $("input.autocomplete").autocomplete({
  minLength: 1,
  source: function(request, response) {
  var results = $.ui.autocomplete.filter(mySource, request.term);
  response(results.slice(0, 6));
  },
  change: function (event, ui) {
  if (ui.item == null || ui.item == undefined) {
  $("input.autocomplete").val("");
  } 
  }
  });
  });

</script>

